{% extends "base.html" %}

{% block page_content %}
    <div style="text-align:center">
        <h1>Login To Your Half-Baked Account</h1>
        <hr>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
            <h5>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </h5>
            <h5>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </h5>
            <h5>{{ form.submit() }}</h5>
            </form>
        <hr>
        <a href="{{ url_for('mod_auth.signup') }}" class="btn btn-info" role="button">Sign Up</a>
    </div>

{% endblock %}
