{% extends "base.html" %}

{% block content %}
    <div style="text-align:center"> 
        <h1>Login To Your Haft-Baked Account</h1>
        <hr>
            <form action="" methods="POST">
                {{ form.hidden_tag() }}
            <p>   
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
            </form>
        <hr>
        <button href='mod_auth.signup.html'>SIGN UP</button>
    </div>

{% endblock %}