{% extends "base.html" %}

{% block page_content %}
    <div style="text-align:center">
        <h1>Create Your Haft-Baked Account</h1>
        <hr>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.birth.label }}<br>
                {{ form.birth(size=32) }}
            </p>
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p> {{ form.submit() }}</p>
        </form>
        <hr>
    </div>
{% endblock %}
