body {
    background-color: #fff5d7;
}

.h1 {
    width: 100%;
    float: center;
}

.recipe_1 {
  border-style: double;
  width: 28%;
  margin-left: 5%;
  margin-right: 3%;
}

.recipe_2 {
  border-style: double;
  width: 28%;
  margin-right: 3%;
}

.recipe_3 {
  border-style: double;
  width: 28%;
  margin-right: 5%;
  
.header {
    width: 100%;
    float: left;
}

.info {
    text-align: center;
    width: 100%;
    float: left;
    background: #ff5e6c;
    border-radius: 25px;
    margin-bottom: 10px;
}

.image img {
    max-width: 350px;
}

.image {
    width: 25%;
    float: left;
    margin-right: 5%;
}

.cooking {
    width: 70%;
    float: left;
}
