{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create Post{% endblock %}

{% block page_content %}
<h1>Recipes</h1>
<h3>You get 10 recipes and 10 steps. That's all you get</h3>

<hr>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
    <h3>
        {{ form.title.label }}<br>
        {{ form.title(size=70) }}
    </h3>
    <h3>
        {{ form.ingredients.label }}<br>
        {% for ingredient in form.ingredients.entries %}
            {{ ingredient(size = 70) }}
        {% endfor %}
        
    </h3>
    <h3>
        {{ form.instructions.label }}<br>
        {% for instruction in form.instructions.entries %}
            {{ instruction(size = 70) }}
        {% endfor %}
    </h3>
    <h3>{{ form.submit() }}</h3>
    </form>
</hr>

{% endblock %}
