{% extends "base.html" %}

{% block title %}Your Posts{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <h1>This Week's Recipes</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <a href="{{ url_for('mod_post.createPost') }}" class="btn btn-info" role="button">Create Post</a>
    </div>
</div>
<div class="row">
    {% if recipes %}
        {% for recipe in recipes %}
        <div class="posting">
            <h3>{{ recipe.title }}</h3>
            <p>Ingredients</p>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}
                {% endfor %}
                
            </ul>
            <p>Instructions</p>
            <ul>
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction }}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
