{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Your Posts{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-6">
        <h1>The Baker's Feed</h1>
    </div>
    <!-- <div class="col-md-3">
        <a href="{{ url_for('mod_post.createPost') }}" class="btn btn-info" role="button">Create Post</a>
    </div> -->
</div>
<div class="row">
  <div class="col-md-1">
    <a href="{{ url_for('mod_post.createPost') }}" class="btn btn-info" role="button">Create Post</a>
  </div>
</div>
<div class="row">
    {% if recipes %}
        {% for recipe in recipes %}
        <div class="posting">
            <h3>{{ recipe.title }}</h3>
            <h6>By {{ usernames[loop.index0] }}</h6>
            <h5>Ingredients</h5>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <div class="points">
                    <li>{{ ingredient }}
                </div>
                {% endfor %}

            </ul>
            <h5>Instructions</h5>
            <ul>
                {% for instruction in recipe.instructions %}
                <div class="points">
                    <li>{{ instruction }}
                </div>
                {% endfor %}
            </ul>
            <h6>{{ recipe.likes }} likes</h6>
            <div class="likeButt">
            <form action="{{ url_for('mod_post.likePost', recipe_id=recipe.id, index=0) }}" method="POST">

                {{ form.hidden_tag() }}
                {{ form.submit(value='Like') }}
            </form>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
