{% extends "user/profile.html" %}

{% block page_content %}
{{ super() }}
<div class="modal show" tabindex="-1" id="mainModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <a href="{{ url_for('mod_user.profile') }}" class="close" role="button" data-dismiss="modal">x</a>
          {% if form.name %}
            <h1 class="modal-title">Edit Profile</h1>
          {% else %}
            <h1 class="modal-title">Change Password</h1>
          {% endif %}
        </div>
        <div class="modal-body" id="small_modals">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {% if form.name %}

            <div class="row">
                <div class="col-sm-6">
                    <h5>{{ form.name.label }}:
                    {% set f = form.name.process_data(name) %}
                    {{ form.name(size=30) }}
                    </h5>
                </div>
                <div class="col-sm-6">
                    <h5>{{ form.birth.label }}:
                    {% set f = form.birth.process_data(birth.data) %}
                    {{ form.birth(size=70) }}
                    </h5>
                </div>
            </div>

        {% else %}
            <div class="row">
                <div class="col-sm-6" id="curPass">
                    <h5>{{ form.curPassword.label }}:
                    {{ form.curPassword(size=25) }}
                    </h5>
                </div>
                <div class="col-sm-6" id="newPass">
                    <h5>{{ form.newPassword.label }}:
                    {{ form.newPassword(size=25) }}
                     </h5>
                </div>
            </div>
        {% endif %}
            <div class="modal-footer">
                <input class="btn btn-success" id="submit" name="submit" type="submit">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
