{% extends "user/profile.html" %}
{% block page_content %}
    {{ super() }}
    <div class="modal show" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <h1>Recipes</h1>
                <h3>You get 10 recipes and 10 steps. That's all you get</h3>
                
                <hr>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                    <h3>
                        {{ form.title.label }}<br>
                        {{ form.title(size=70) }}
                    </h3>
                    <h3>
                        {{ form.newIngredients.label }}<br>
                        {% for ingredient in form.newIngredients.entries %}
                            {{ ingredient(size = 70) }}
                        {% endfor %}
                        
                    </h3>
                    <h3>
                        {{ form.newInstructions.label }}<br>
                        {% for instruction in form.newInstructions.entries %}
                            {{ instruction(size = 70) }}
                        {% endfor %}
                    </h3>
                    <h3>{{ form.submit() }}</h3>
                    </form>
                </hr>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
{% endblock %}
