{% extends "user/profile.html" %}
{% block page_content %}
    {{ super() }}
    <div class="modal show" tabindex="-1" id="mainModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <a href="{{ url_for('mod_user.profile') }}" class="close" role="button" data-dismiss="modal">x</a>
              <h1 class="modal-title">Recipes Edit</h1>
            </div>
            <div class="modal-body">
                <h3>You only get 10 ingredients and 10 steps, so get cracking!</h3>
                    <hr>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                    <h3>
                        {{ form.title.label("Title") }}<br>
                        {{ form.title(size=50) }}
                    </h3>
                    <h3>
                        {{ form.newIngredients.label("Ingredients") }}<br>
                        {% for ingredient in form.newIngredients.entries %}
                            {{ ingredient(size = 50) }}
                        {% endfor %}

                    </h3>
                    <h3>
                        {{ form.newInstructions.label("Instructions") }}<br>
                        {% for instruction in form.newInstructions.entries %}
                            {{ instruction(size = 50) }}
                        {% endfor %}
                    </h3>
                    <div class="modal-footer">
                      <h3>{{ form.submit() }}</h3>
                    </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
