{% extends "base.html" %}

{% block page_content %}
    <div class="header">
        <h1>Your Profile</h1>
    </div>
    <div class="row">
        <div class="col-sm-6"><h3>Name: {{name}}</h3></div>
        <div class="col-sm-6"><h3>Username: {{username}}</h3></div>
    </div>
    <div class="row top-margin">
        <div class="col-sm-6"><h3>Birthday: {{birth}}</h3></div>
        <div class="col-sm-3">
            <a href="{{ url_for('mod_user.editProfile') }}" class="btn btn-info" role="button">Edit Informatoin</a>
        </div>
        <div class="col-sm-3">
            <a href="{{ url_for('mod_user.profile') }}" class="btn btn-warning" role="button">Change Password</a>
        </div>
    </div>

    <div class="row top-margin">
        <h3>Your Posts</h3>
    </div>
    <div class="row">
        {% if recipes %}
            {% for recipe in recipes %}
            <div class="posting">
                <h3>{{ recipe.title }}</h3>
                <p>Ingredients</p>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}
                    {% endfor %}

                </ul>
                <p>Instructions</p>
                <ul>
                    {% for instruction in recipe.instructions %}
                        <li>{{ instruction }}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
