{% extends "base.html" %}

{% block page_content %}
    <div class="header">
        <h1>Your Profile</h1>
    </div>
    <div class="row">
        <div class="col-sm-6"><h4>Name: {{name}}</h4></div>
        <div class="col-sm-6"><h4>Username: {{username}}</h4></div>
    </div>
    <div class="row top-margin">
        <div class="col-sm-6"><h4>Birthday: {{birth}}</h4></div>
        <div class="col-sm-3">
            <a href="{{ url_for('mod_user.editProfile') }}" class="btn btn-info" role="button">Edit Information</a>
        </div>
        <div class="col-sm-3">
            <a href="{{ url_for('mod_user.changePassword') }}" class="btn btn-warning" role="button">Change Password</a>
        </div>
    </div>

    <div class="row top-margin">
        <h4>Your Posts</h4>
    </div>
    <div class="row">
        {% if recipes %}
            {% for recipe in recipes %}
            <div class="posting">
                <h3>{{ recipe.title }}</h3>
                <h5>Ingredients</h5>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <div class="points">
                        <li>{{ ingredient }}
                    </div>
                    {% endfor %}
                </ul>
                <h5>Instructions</h5>
                <ul>
                    {% for instruction in recipe.instructions %}
                    <div class="points">
                        <li>{{ instruction }}
                    </div>
                    {% endfor %}
                </ul>
                <h6>{{ recipe.likes }} likes</h6>
                <a href="{{url_for('mod_user.editPost', recipe_id = recipe.id)}}" class="btn btn-warning btn-xs" data-toggle="modal">Edit</a>
                <a href="{{url_for('mod_user.deletePost', recipe_id = recipe.id)}}" class="btn btn-danger btn-xs">Delete</a>
            </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
