body {
margin: 0;
padding: 0;
font: 73% "Trebuchet MS", verdana, arial, tahoma, sans-serif;
line-height: 1.7em;
background-color: #A7D2CB;
}

.container {
width: 75%;
margin: 0 auto;
padding: 0;
/*background-color: #ffffff;*/
}

.header {
height:150px;
padding: 0;
margin: 0;
color: #000;
}

.header h1 {
margin: 0 0 10px 10px;
padding-top: 20px;
letter-spacing: 3px;
color: #333;
background: transparent;
}

h2 {
    font-size: 400%;
    padding: 0px;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
}

h4 {
  margin: 0;
  padding-left: 10px;
  font-size: 300%;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  color:  #000;
  background: inherit;
}

.nav a{
    color: white;
    font-size: 2.5em;
}

.navbar {
    margin-bottom: 0px;
}

.top-margin {
    margin-top:20px;
}

.posting {
  margin: 10px;
  border-width:2px;
  border-style:solid;
  border-color:black;
}
