{% extends "bootstrap/base.html" %}

{% block title %}Half-Baked{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('mod_main.index') }}">Half-Baked</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('mod_post.posts') }}">Posts</a></li>
            </ul>
            <div class="right">
                {%if name %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('mod_user.profile') }}">Profile: {{ username }}</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('mod_auth.logout') }}">Logout</a></li>
                    </ul>
                {% endif %}
                {% if not name %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('mod_auth.login') }}">Login</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('mod_auth.signup') }}">Signup</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
