{% extends "base.html" %}

{% block page_content %}

  <div class="header">
    <h1>Half-Baked</h1>
  </div>
  <h3>This Week's Featrued Item:</h3>
  <h2>Mushrooms</h2>
  <h3>Last Week's Winners:</h3>
  <div id="recipeCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#recipeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#recipeCarousel" data-slide-to="1"></li>
      <li data-target="#recipeCarousel" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Item 1">
      </div>
      <div class="item">
        <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Item 3">
      </div>
      <div class="item">
        <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Item 3">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#recipeCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="right carousel-control" href="#recipeCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>



  </div>
  <h3>This Week's Standings</h3>
  <div class="row">
      {% if recipes %}
          {% for recipe in recipes %}
          <div class="posting">
              <h3>{{ recipe.title }}</h3>
              <p>Ingredients</p>
              <ul>
                  {% for ingredient in recipe.ingredients %}
                      <li>{{ ingredient }}
                  {% endfor %}

              </ul>
              <p>Instructions</p>
              <ul>
                  {% for instruction in recipe.instructions %}
                      <li>{{ instruction }}
                  {% endfor %}
              </ul>
              <p>{{ recipe.likes }} likes</p>
          </div>
          {% endfor %}
      {% endif %}
  </div>
{% endblock %}
