{% extends "base.html" %}

{% block page_content %}

  <div class="header">
    <h1>Welcome to Half-Baked</h1>
  </div>
  <div class="intro">
    <h3>Think you have the best recipe for apple fritters? Here to improve your
      cooking skills? Or do you just want something new? Here we have the perfect
      recipes provided by the community to spice up your Tuesday night. Feel free
      to post your recipes for the world to see, and if you dare, you can even
      compete against other Half-Bakers to have your recipe featured on the homepage!
      Happy Chopping!</h3>
  </div>
  <h4>This Week's Featrued Item:</h4>
  <h2>{{ featuredItem }}</h2>
  <h4>Last Week's Winners:</h4>
  <div id="recipeCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#recipeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#recipeCarousel" data-slide-to="1"></li>
      <li data-target="#recipeCarousel" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      {% if winnerRecipes.count() %}
        {% for recipe in winnerRecipes %}
          {% if loop.index0 == 0 %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
            <div class="posting">
              <h3>{{loop.index}}. {{ recipe.title }}</h3>
              <h6>By {{ recipe.username }}</h6>
              <h5>Ingredients</h5>
              <ul>
                  {% for ingredient in recipe.ingredients %}
                  <div class="points">
                      <li>{{ ingredient }}
                  </div>
                  {% endfor %}

              </ul>
              <h5>Instructions</h5>
              <ul>
                  {% for instruction in recipe.instructions %}
                  <div class="points">
                      <li>{{ instruction }}
                  </div>
                  {% endfor %}
              </ul>
              <h6>{{ recipe.total_likes }} likes</h6>
            </div>
           </div>
        {% endfor %}
      {% else %}
        <div class="item active">
          <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Item 1">
        </div>
        <div class="item">
          <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Item 3">
        </div>
        <div class="item">
          <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Item 3">
        </div>
    {% endif %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#recipeCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="right carousel-control" href="#recipeCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>



  </div>
  <h4>This Week's Standings</h4>
  <div class="row">
      {% if recipes %}
          {% for recipe in recipes %}
          <div class="posting">
              <h3>{{loop.index}}. {{ recipe.title }}</h3>
              <h6>By {{ recipe.username }}</h6>
              <h5>Ingredients</h5>
              <ul>
                  {% for ingredient in recipe.ingredients %}
                  <div class="points">
                      <li>{{ ingredient }}
                  </div>
                  {% endfor %}

              </ul>
              <h5>Instructions</h5>
              <ul>
                  {% for instruction in recipe.instructions %}
                  <div class="points">
                      <li>{{ instruction }}
                  </div>
                  {% endfor %}
              </ul>
              <h6>{{ recipe.likes }} likes</h6>
          </div>
          {% endfor %}
      {% endif %}
  </div>
{% endblock %}
